<template>
	<view class="container">
		<view class="mp-search-box">
			<view class="tui-rolling-search">
				<!-- #ifdef APP-PLUS || MP -->
				<icon type="search" :size='13' color='#999'></icon>
				<!-- #endif -->
				<!-- #ifdef H5 -->
				<view>
					<tui-icon name="search" :size='16' color='#999'></tui-icon>
				</view>
				<!-- #endif -->
				<swiper vertical autoplay circular interval="8000" class="tui-swiper">
					<swiper-item v-for="(item,index) in hotSearch" :key="index" class="tui-swiper-item" @tap="search">
						<view class="tui-hot-item">{{item}}</view>
					</swiper-item>
				</swiper>
			</view>
		</view>
		
		<view class="tui-header-banner">
			<view class="tui-banner-bg">
				<view class="tui-primary-bg"></view>
				<!--banner-->
				<view class="tui-banner-box">
					<swiper :indicator-dots="true" :autoplay="true" :interval="5000" :duration="150" class="tui-banner-swiper"
					 :circular="true" indicator-color="rgba(255, 255, 255, 0.8)" indicator-active-color="#fff">
						<swiper-item v-for="(item,index) in banner" :key="index" @tap.stop="detail">
							<image :src="item.image" class="tui-slide-image" mode="scaleToFill" />
						</swiper-item>
					</swiper>
				</view>
			</view>
		</view>
        <!--新闻通知-->
        <rf-swiper-slide :list="roll" class="notice-slide" @tap="notice()">
        	<view slot="header" class="swiper-slide-header">
        		<image class="swiper-slide-image" src="/static/news.png"></image>
        	</view>
        </rf-swiper-slide>
		<view class="tui-product-box tui-pb-20 ">
			<view class="tui-activity-box" @tap="detail">
				<image src="/static/images/mall/activity/activity_1.jpg" class="tui-activity-img" mode="widthFix"></image>
				<image src="/static/images/mall/activity/activity_2.jpg" class="tui-activity-img" mode="widthFix"></image>
			</view>
		</view>
   
		<view class="tui-bg-white" style="margin-top: 20rpx;">
			
			<view class="navbar">
				<view 
					v-for="(item, index) in navList" :key="index" 
					class="nav-item" 
					:class="{current: tabCurrentIndex === index}"
					@click="tabClick(index)">
					{{item.name}}
				</view>
			</view>
			
			<swiper :current="tabCurrentIndex" class="swiper-box" duration="300" @change="changeTab">
				<swiper-item class="tab-content" v-for="(tabItem,tabIndex) in navList" :key="tabIndex">
					<scroll-view class="list-scroll-content" scroll-y @scrolltolower="loadData">
						<!-- 空白页 -->
						<empty v-if="homeFlashPromotion.length === 0"></empty>
						
						<!-- 订单列表 -->
						<view v-for="(item,index) in homeFlashPromotion" :key="index"
							class="order-item">
							<view class="tui-pro-item" hover-class="hover" :hover-start-time="150" @tap="detail(item.skuId)">
								<image :src="'https://img14.360buyimg.com/ads/'+item.imageUrl" class="tui-pro-img"   />
								<view class="tui-pro-content">
									<view class="tui-pro-tit">{{item.skuName}}</view>
									<view class="tui-sku">
										<view class="tui-pro-price">
											<text class="tui-sale-price">￥{{item.secKillPrice}}</text>
											<text class="tui-factory-price">￥{{item.oriPrice}}</text>
										</view>
										<view class="tui-pro-pay">{{item.inOrderCount30Days}}人付款</view>
							         </view>
									 <view class="tui-info-to">
										 <view class="tui-pro-go">立即购</view>
									 </view>
										<view class="tui-pro-commission">会员分享可赚￥{{item.commission/2}}<tui-icon name="arrowright" size="20" color="#ff6364" ></tui-icon></view>
									</view>
							</view>
						</view>
						 
						<!-- <uni-load-more :status="tabItem.loadingType"></uni-load-more> -->
						
					</scroll-view>
				</swiper-item>
			</swiper>
			
			
			
		
		</view>

		<!--加载loadding-->
<!-- 		<tui-loadmore :visible="loadding" :index="3" type="red"></tui-loadmore>
 -->		<!-- <tui-nomore visible="{{!pullUpOn}}"></tui-nomore> -->
		<!--加载loadding-->
		<view class="tui-safearea-bottom"></view>
	</view>
</template>
<script>
	import Api from '@/common/api';
	import tuiTabs from "@/components/tui-tabs/tui-tabs"
	import tuiIcon from "@/components/icon/icon"
	import tuiTag from "@/components/tag/tag"
	import tuiLoadmore from "@/components/loadmore/loadmore"
	import tuiNomore from "@/components/nomore/nomore"
	import empty from "@/components/empty";
	import rfSwiperSlide from '@/components/rf-swiper-slide/rf-swiper-slide';
	
	export default {
		components: {
			tuiIcon,
			tuiTag,
			tuiLoadmore,
			tuiNomore,
			tuiTabs,
			empty,
			rfSwiperSlide
		},
		data() {
			return {
				current: 0,
				tabCurrentIndex:0,
				banner: [],
				navList: [{
					name: "今日主推"
				}, {
					name: "爆款热卖"
				}, {
					name: "好货上新"
				}, {
					name: "京东自营"
				}],
				currentTab: 0,
				bgColor: "linear-gradient(90deg, rgb(255, 118, 38), rgb(252, 30, 82))",
				homeFlashPromotion:[],
				hotSearch: [
					"休闲零食",
					"自热火锅",
					"小冰箱迷你"
				],
				pageIndex: 1,
				loadding: false,
				pullUpOn: true,
				roll: [
						{
							id: 0,
							pic: "https://i.loli.net/2019/10/18/DqOUgNf7wjuFpPT.png",
							title: "RF微商城基础功能上线啦！",
							url: "",
							info: "RF微商城基础功能上线啦！！",
							show: '是'
						},
						{
							id: 1,
							url: "",
							info: "新闻通知功能上线啦！",
							show: '是'
						},
						{
							id: 3,
							url: "",
							info: "这些公告都是假数据哦！",
							show: '是'
						}
				],
			}
		},
		onLoad(ops) {
			
			this.loadData();
		},
		methods: {
			tabbarSwitch: function(e) {
				let index = e.currentTarget.dataset.index;
				this.current = index;
				if (index != 0) {
					if (index == 1) {
						this.classify();
					} else if (index == 2) {
						uni.navigateTo({
							url: '../mall-extend/shopcart/shopcart'
						})
					} else {
						uni.navigateTo({
							url: '../mall-extend/my/my'
						})
					}
				}
			},
			change(e) {
				this.currentTab = e.index;
				
			},
			
			/**
			 * 
			 * 加载首页数据
			 */
			async loadData() {
				this.getBanner();
				// this.getHotGoodsList();
				this.getFlashPromotion();
				// // this.getCatList();
				// this.getNewProductList();
			},
			
			/**
			 * 
			 * 加载首页数据
			 */
			async listData(index) {
			    switch(index){
					case 0:
					   this.getFlashPromotion();
					   break;
					case 1:
					   this.homeFlashPromotion = [];
					   break;
					case 2:
					   this.homeFlashPromotion = [];
					   break;
					case 3:
					 this.homeFlashPromotion = [];
					   break;
				}
				
				
			},
			
			/**
			 * 获取轮播图
			 */
			async getBanner(){
				let params = {};
				let data = await Api.apiCall('get', Api.index.bannerList, params);
				if (data) {
					
					this.banner = data.data;
					console.log(this.banner);
				}
			},
			
			/**
			     * 获取新品上市信息
			     */
			    async getNewProductList(){
			      let params = {};
			      let data = await Api.apiCall('get', Api.goods.newProductList, params);
			      if (data) {
			        let newProductList = data;
			        this.newProductList = newProductList || [];
			      }
			    },
			
			/**
			 * 获取团购信息
			 */
			async getHotGoodsList(){
				let params = {};
				let groupHotGoodsList = await Api.apiCall('get', Api.goods.groupHotGoodsList, params);
				this.groupHotGoodsList = groupHotGoodsList;
			},
			
			/**
			 * 获取秒杀列表信息
			 */
			async getFlashPromotion(){
				let params = {};
				let data = await Api.apiCall('get', Api.index.homeFlashPromotionList, params);
				if (data) {
					let homeFlashPromotion = data.data;
					console.log(homeFlashPromotion);
					if (homeFlashPromotion.length>0) {
						this.homeFlashPromotion = homeFlashPromotion;
					}
				}
			},
			//顶部tab点击
			tabClick(index){
				this.tabCurrentIndex = index;
			},
			//swiper 切换
			changeTab(e){
				this.tabCurrentIndex = e.target.current;
				this.listData(this.tabCurrentIndex);
			},
			detail: function(skuid) {
				
				uni.navigateTo({
					url: '../detail/detail?skuid='+skuid
				})
			},
			classify: function() {
				uni.navigateTo({
					url: '/pages/navbar-2/navbar-2'
				})

			},
			more: function(e) {
				let key = e.currentTarget.dataset.key || "";
				uni.navigateTo({
					url: '../productList/productList?searchKey=' + key
				})

			},
			search: function() {
				uni.navigateTo({
					url: '../product/search'
				})
			},
			notice: function() {
				uni.navigateTo({
					url: '../notice/notice'
				})
			}
		},
		onPullDownRefresh: function() {
			let loadData = JSON.parse(JSON.stringify(this.productList));
			loadData = loadData.splice(0, 10)
			this.productList = loadData;
			this.pageIndex = 1;
			this.pullUpOn = true;
			this.loadding = false
			uni.stopPullDownRefresh()
		},
		onReachBottom: function() {
			if (!this.pullUpOn) return;
			this.loadding = true;
			if (this.pageIndex == 4) {
				this.loadding = false;
				this.pullUpOn = false
			} else {
				let loadData = JSON.parse(JSON.stringify(this.productList));
				loadData = loadData.splice(0, 10)
				if (this.pageIndex == 1) {
					loadData = loadData.reverse();
				}
				this.productList = this.productList.concat(loadData);
				this.pageIndex = this.pageIndex + 1;
				this.loadding = false
			}
		}
	}
</script>

<style>
	page {
		background: #f7f7f7;
	}
   .mp-search-box{
		left: 0;
		z-index: 9999;
		width: 100%;
		padding: 0 80upx;
		background-color: #ff6364;
		
	}
	.notice-slide{
		
	}
	.tui-rolling-search {
		width: 100%;
		height: 60rpx;
		border-radius: 35rpx;
		padding: 0 40rpx 0 30rpx;
		box-sizing: border-box;
		background: #fff;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		color: #999;
	}
	.container {
		padding-bottom: 100rpx;
		color: #333;
	}

	/*tabbar*/
	.navbar{
		display: flex;
		height: 40px;
		padding: 0 5px;
		background: #fff;
		box-shadow: 0 1px 5px rgba(0,0,0,.06);
		position: relative;
		z-index: 10;
	}
	.swiper-box {
    	height: 750px;
	
	}
	.swiper-slide-header {
		width: 120upx;
		height: 80upx;
		line-height: 88upx;
		
	}
	.swiper-slide-image {
		width: 100%;
		height: 30upx;
	}
	.nav-item{
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			font-size: 15px;
			color: $font-color-dark;
			position: relative;
	}
	.current{
		color: #EB0909; 
		border-bottom: 2px solid #EB0909;
		
	}
	.nav-item .current:after{
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		width: 44px;
		height: 0;
		border-bottom: 2px solid #EB0909;
	}
	.tui-tabbar {
		width: 100%;
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 99999;
		background: #fff;
		height: 100rpx;
		left: 0;
		bottom: 0;
		padding-bottom: env(safe-area-inset-bottom);
	}

	.tui-safearea-bottom {
		width: 100%;
		height: env(safe-area-inset-bottom);
	}

	.tui-tabbar::before {
		content: '';
		width: 100%;
		border-top: 1rpx solid #d9d9d9;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-transform: scaleY(0.5);
		transform: scaleY(0.5);
	}

	.tui-tabbar-item {
		flex: 1;
		width: 25%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		font-size: 24rpx;
		color: #666;
		height: 80rpx;
	}

	.tui-ptop-4 {
		padding-top: 4rpx;
	}

	.tui-scale {
		font-weight: bold;
		transform: scale(0.8);
		transform-origin: center 100%;
		line-height: 30rpx;
	}

	.tui-item-active {
		color: #e41f19 !important;
	}
     .tui-new-title{
		 text-align: center;
		 color: white;
		 margin-bottom: 50rpx;
	 }
	/*tabbar*/

	.tui-header {
		width: 100%;
		height: 100rpx;
		padding: 0 30rpx 0 20rpx;
		box-sizing: border-box;
		background: #e41f19;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		left: 0;
		top: 0;
		/* #ifdef H5 */
		top: 44px;
		/* #endif */
		z-index: 999;
	}

	.tui-rolling-search {
		width: 100%;
		height: 60rpx;
		border-radius: 35rpx;
		padding: 0 40rpx 0 30rpx;
		box-sizing: border-box;
		background: #fff;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		color: #999;
	}

	.tui-category {
		font-size: 24rpx;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin: 0;
		margin-right: 22rpx;
		flex-shrink: 0;
	}

	.tui-category-scale {
		transform: scale(0.7);
		line-height: 24rpx;
	}

	.tui-icon-category {
		line-height: 20px !important;
		margin-bottom: 0 !important;
	}

	.tui-swiper {
		font-size: 26rpx;
		height: 60rpx;
		flex: 1;
		padding-left: 12rpx;
	}

	.tui-swiper-item {
		display: flex;
		align-items: center;
	}

	.tui-hot-item {
		line-height: 26rpx;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.tui-header-banner {
		margin-bottom: 50px;
		box-sizing: border-box;
		background: #ff6364;
	}

	
	.tui-hot-tag {
		background: rgba(255, 255, 255, 0.15);
		padding: 10rpx 24rpx;
		border-radius: 30rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 24rpx;
		/* margin-left: 20rpx; */
	}

	.tui-banner-bg {
		display: flex;
		background: #ff6364;
		position: relative;
	}

	.tui-primary-bg {
		width: 100%;
		display: inline-block;
		height: 224rpx;
		border: 1px solid transparent;
		position: relative;
		z-index: 1;
		background: #ff6364;
		border-radius: 0 20px 20px 20px;
	}

	.tui-route-left {
		transform: skewY(8deg);
	}

	.tui-route-right {
		transform: skewY(-8deg);
	}

	.tui-banner-box {
		width: 100%;
		padding: 0 20rpx;
		box-sizing: border-box;
		position: absolute;
		/* overflow: hidden; */
		z-index: 99;
		bottom: -100rpx;
		left: 0;
	}

	.tui-banner-swiper {
		width: 100%;
		height: 300rpx;
		border-radius: 12rpx;
		overflow: hidden;
		transform: translateY(0);
	}

	.tui-slide-image {
		width: 100%;
		height: 300rpx;
		display: block;
		border-radius: 28rpx;
	}

	/* #ifdef APP-PLUS || MP */
	.tui-banner-swiper .wx-swiper-dot {
		width: 8rpx;
		height: 8rpx;
		display: inline-flex;
		background: none;
		justify-content: space-between;
	}

	.tui-banner-swiper .wx-swiper-dot::before {
		content: '';
		flex-grow: 1;
		background: rgba(255, 255, 255, 0.8);
		border-radius: 16rpx;
		overflow: hidden;
	}

	.tui-banner-swiper .wx-swiper-dot-active::before {
		background: #fff;
	}

	.tui-banner-swiper .wx-swiper-dot.wx-swiper-dot-active {
		width: 16rpx;
	}

	/* #endif */

	/* #ifdef H5 */
	>>>.tui-banner-swiper .uni-swiper-dot {
		width: 8rpx;
		height: 8rpx;
		display: inline-flex;
		background: none;
		justify-content: space-between;
	}

	>>>.tui-banner-swiper .uni-swiper-dot::before {
		content: '';
		flex-grow: 1;
		background: rgba(255, 255, 255, 0.8);
		border-radius: 16rpx;
		overflow: hidden;
	}

	>>>.tui-banner-swiper .uni-swiper-dot-active::before {
		background: #fff;
	}

	>>>.tui-banner-swiper .uni-swiper-dot.uni-swiper-dot-active {
		width: 16rpx;
	}

	/* #endif */

	.tui-product-category {
		background: #fff;
		padding: 80rpx 20rpx 30rpx 20rpx;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		font-size: 24rpx;
		color: #555;
		margin-bottom: 20rpx;
	}

	.tui-category-item {
		width: 20%;
		height: 118rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		padding-top: 30rpx;
	}

	.tui-category-img {
		height: 80rpx;
		width: 80rpx;
		display: block;
	}

	.tui-category-name {
		line-height: 24rpx;
	}

	.tui-product-box {
		padding: 0 20rpx;
		box-sizing: border-box;
	}

	.tui-pb-20 {
		padding-bottom: 20rpx;
	}

	.tui-bg-white {
		background: #fff;
		border-radius: 10rpx;
		border: 1px solid #f1f1f1;
		margin: 20rpx;
	}

	.tui-group-name {
		font-size: 32rpx;
		font-weight: bold;
		text-align: center;
		padding: 24rpx 0;
	}

	.tui-activity-box {
		display: flex;
		border-radius: 12rpx;
		overflow: hidden;
	}

	.tui-activity-img {
		width: 50%;
		display: block;
	}

	.tui-new-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.tui-new-item {
		width: 49%;
		height: 200rpx;
		padding: 0 20rpx;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		background: #f5f2f9;
		position: relative;
		border-radius: 12rpx;
	}

	.tui-new-mtop {
		margin-top: 2%;
	}

	.tui-title-box {
		font-size: 24rpx;
	}

	.tui-new-title {
		line-height: 32rpx;
		word-break: break-all;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}

	.tui-new-price {
		padding-top: 18rpx;
	}

	.tui-new-present {
		color: #ff201f;
		font-weight: bold;
	}

	.tui-new-original {
		display: inline-block;
		color: #a0a0a0;
		text-decoration: line-through;
		padding-left: 12rpx;
		transform: scale(0.8);
		transform-origin: center center;
	}

	.tui-new-img {
		width: 160rpx;
		height: 160rpx;
		display: block;
		flex-shrink: 0;
	}

	.tui-new-label {
		width: 56rpx;
		height: 56rpx;
		border-top-left-radius: 12rpx;
		position: absolute;
		left: 0;
		top: 0;
	}

	.tui-product-list {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		box-sizing: border-box;
		/* padding-top: 20rpx; */
	}

	.tui-product-container {
		flex: 1;
		margin-right: 2%;
	}

	.tui-product-container:last-child {
		margin-right: 0;
	}

	.tui-pro-item {
		width: 100%;
		margin-bottom: 4%;
		background: #fff;
		box-sizing: border-box;
		border-radius: 12rpx;
		overflow: hidden;
		border-bottom: 1px solid #f1f1f1;
		padding: 20rpx;
	}

	.tui-pro-img {
		width: 190rpx;
		display: block;
		height: 190rpx;
		float: left;
		overflow: hidden;

	}

	.tui-pro-content {
		box-sizing: border-box;
		padding: 20rpx;
		overflow: hidden;
	}
	.tui-sku{
		width: 250rpx;
		float: left;
	}
	
	.tui-info-to{
		width: 150rpx;
		float: left;
	}
	
	.tui-pro-go{
		width: 150rpx;
		height: 50rpx;
		text-align: center;
		background-color: #ff5d00;
		border-radius: 10rpx;
		color: white;
		font-size: 25rpx;
		line-height: 50rpx;
		margin-top: 20rpx;

	}
	.tui-pro-commission{
		font-size: 22rpx;
		background-color: #fcebef;
		border-radius: 15rpx;
		margin-left: 30rpx;
		height: 40rpx;
		text-align: right;
		color: #ff6364;
		line-height: 40rpx;
		clear: both;

	}
   
	.tui-pro-tit {
		color: #2e2e2e;
		font-size: 26rpx;
		word-break: break-all;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}

	.tui-pro-price {
		padding-top: 18rpx;
	}

	.tui-sale-price {
		font-size: 34rpx;
		font-weight: 500;
		color: #e41f19;
	}

	.tui-factory-price {
		font-size: 24rpx;
		color: #a0a0a0;
		text-decoration: line-through;
		padding-left: 12rpx;
	}

	.tui-pro-pay {
		padding-top: 10rpx;
		font-size: 24rpx;
		color: #656565;
	}
</style>
