<template>
	<view class="container">
		<view class="left-bottom-sign"></view>
		<view class="back-btn yticon icon-zuojiantou-up" @click="navBack"></view>
		<view class="right-top-sign"></view>
		<!-- 设置白色背景防止软键盘把下部绝对定位元素顶上来盖住输入框等 -->
		<view class="wrapper">
			<view class="left-top-sign">LOGIN</view>
			<view class="welcome">
				欢迎回来！
			</view>
		
			
			
		</view>
		<view class="oauth-row" >
				<button class="confirm-btn" open-type="getUserInfo" @getuserinfo="wxGetUserInfo">微信一键登录</button>
		</view>
		<view class="register-section">
			
		</view>
	</view>
</template>

<script>
	import Api from '@/common/api';
	import { mapMutations, mapState } from 'vuex';
	
	export default{
		data(){
			return {
				mobile: '',
				password: '',
				logining: false,
				providerList: [],
				hasProvider: false,
			}
		},
		onLoad(){
			
		},
		methods: {
			...mapMutations(['login']),
			
			
			getUserInfo({
				detail
			}) {
				if (detail.userInfo) {
					console.log(detail);
					//uni.setStorageSync("userinfo",detail.userInfo);
					this.toMain(detail.userInfo);
				} else {
					uni.showToast({
						icon: 'none',
						title: '登陆失败'
					});
				}
			},
			
			wxGetUserInfo: function(res) {
				if (!res.detail.iv) {
					uni.showToast({
						title: '您取消了授权,登录失败',
						icon: 'none'
					});
					return false;
				}
				// this.login(res.detail.rawData);
				const that = this;
				let datas = '';
				uni.login({
					provider: 'weixin',
					success: function(loginRes) {
						console.log(loginRes)
						console.log(res)
						wx.request({
							url: Api.BASEURI + Api.index.appletLogin_by_weixin,
							data: {
								code: loginRes.code,
								userInfo: res.detail.rawData,
								//cloudID: res.detail.cloudID,
								encrypted_data: res.detail.encryptedData,
								iv: res.detail.iv,
								source:2,
								signature: res.detail.signature
							},
							method: 'post',
							success: function(info) {
								datas=info;
								uni.setStorageSync('userInfo', info.data.data.userInfo);
								uni.setStorageSync('token', info.data.data.userInfo.token);
			                    that.login(info.data.data.userInfo);
								uni.switchTab({
									url: '/pages/index/index'
								});
							},
							fail: function(e) {
								console.log(e);
							}
						});
					}
				});
				console.log(datas)
				//this.$db.set('userInfos', datas.data.data.userInfo);
				//this.$db.set('token', datas.data.data.tokenHead+info.data.data.token);
			},
			toMain(userInfo) {
				this.login(userInfo); // store
					
				// var urltmp = 'http://'+window.location.host+'/addons/litestore/api.uservue/connect?platform=wechat&url='+
				// 					 'http://'+window.location.host+'/addons/litestore/octothorpe/My'; 
				// window.location.href = urltmp
						
				/**
				 * 强制登录时使用reLaunch方式跳转过来
				 * 返回首页也使用reLaunch方式
				 */
				if (this.forcedLogin) {
					uni.reLaunch({
						url: '../main/main',
					});
				} else {
					uni.navigateBack();
				}
			
			},
			inputChange(e){
				const key = e.currentTarget.dataset.key;
				this[key] = e.detail.value;
			},
			navBack(){
				uni.navigateBack();
			},
			toRegist(){
				this.$api.msg('去注册');
			},
			async toLogin(){
				this.logining = true;
				const {mobile, password} = this;
				/* 数据验证模块
				if(!this.$api.match({
					mobile,
					password
				})){
					this.logining = false;
					return;
				}
				*/
				const sendData = {
					mobile,
					password
				};
				const result = await this.$api.json('userInfo');
				if(result.status === 1){
					this.login(result.data);
                    uni.navigateBack();  
				}else{
					this.$api.msg(result.msg);
					this.logining = false;
				}
			}
		},

	}
</script>

<style lang='scss'>
	page{
		background: #fff;
	}
	.container{
		padding-top: 115px;
		position:relative;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		background: #fff;
	}
	.wrapper{
		position:relative;
		z-index: 90;
		background: #fff;
		padding-bottom: 40upx;
	}
	.back-btn{
		position:absolute;
		left: 40upx;
		z-index: 9999;
		padding-top: var(--status-bar-height);
		top: 40upx;
		font-size: 40upx;
		color: $font-color-dark;
	}
	.left-top-sign{
		font-size: 120upx;
		color: $page-color-base;
		position:relative;
		left: -16upx;
	}
	.right-top-sign{
		position:absolute;
		top: 80upx;
		right: -30upx;
		z-index: 95;
		&:before, &:after{
			display:block;
			content:"";
			width: 400upx;
			height: 80upx;
			background: #b4f3e2;
		}
		&:before{
			transform: rotate(50deg);
			border-radius: 0 50px 0 0;
		}
		&:after{
			position: absolute;
			right: -198upx;
			top: 0;
			transform: rotate(-50deg);
			border-radius: 50px 0 0 0;
			/* background: pink; */
		}
	}
	.left-bottom-sign{
		position:absolute;
		left: -270upx;
		bottom: -320upx;
		border: 100upx solid #d0d1fd;
		border-radius: 50%;
		padding: 180upx;
	}
	.welcome{
		position:relative;
		left: 50upx;
		top: -90upx;
		font-size: 46upx;
		color: #555;
		text-shadow: 1px 0px 1px rgba(0,0,0,.3);
	}
	.input-content{
		padding: 0 60upx;
	}
	.input-item{
		display:flex;
		flex-direction: column;
		align-items:flex-start;
		justify-content: center;
		padding: 0 30upx;
		background:$page-color-light;
		height: 120upx;
		border-radius: 4px;
		margin-bottom: 50upx;
		&:last-child{
			margin-bottom: 0;
		}
		.tit{
			height: 50upx;
			line-height: 56upx;
			font-size: $font-sm+2upx;
			color: $font-color-base;
		}
		input{
			height: 60upx;
			font-size: $font-base + 2upx;
			color: $font-color-dark;
			width: 100%;
		}	
	}

	.confirm-btn{
		width: 630upx;
		height: 96upx;
		line-height: 96upx;
		border-radius: 50px;
		margin-top: 70upx;
		background: #22ac38;
		color: #fff;
		font-size: $font-lg;
		&:after{
			border-radius: 100px;
		}
	}
	.forget-section{
		font-size: $font-sm+2upx;
		color: $font-color-spec;
		text-align: center;
		margin-top: 40upx;
	}
	.register-section{
		position:absolute;
		left: 0;
		bottom: 50upx;
		width: 100%;
		font-size: $font-sm+2upx;
		color: $font-color-base;
		text-align: center;
		text{
			color: $font-color-spec;
			margin-left: 10upx;
		}
	}
</style>
