<template>
	<view>
		<swiper class="carousel" indicator-dots=true circular=true interval="3000" duration="700">
			<swiper-item v-for="(item,index) in imgList" :key="index">
				<view class="image-wrapper">
					<image
						:src="item" 
						mode="aspectFill"
					></image>
				</view>
			</swiper-item>
		</swiper>
		
		<view class="info">
			<view class="title" style="width: 100%;">
				<text :class="{Skeleton:!loaded}">{{details.goodsName}}</text>
			</view>
			<view>
				<view class="tui-pro-price">
					<text class="tui-sale-price">秒杀价￥{{details.wlUnitPrice}}</text>
		<!-- 									<text class="tui-factory-price">￥{{item.priceInfo.price}}</text>
		-->								</view>
				<view class="tui-pro-pay">分享赚￥{{(details.commisionRatioWl*details.wlUnitPrice/200).toFixed(2)}}</view>
			</view>
		</view>
<!-- 		<view class="tui-padding">
 -->		<!-- 			<view class="tui-sub-title tui-size tui-gray">此商品将于2019-06-28,10点结束闪购特卖，时尚美饰联合专场</view>
		 -->			<!-- <view class="tui-sale-info tui-size tui-gray">
						<view>快递：0.00</view>
						<view>月销2000</view>
						<view>浙江杭州</view>
					</view>
				</view> -->

		<!-- 猜你喜欢 -->
		<tui-divider :size="28" :bold="true" color="#333" width="50%">为你推荐</tui-divider>
		<view class="tui-product-list">
			<view class="tui-product-container">
				<block v-for="(item,index) in guessList" :key="index" v-if="(index+1)%2!=0">
					<!--商品列表-->
					<view class="tui-pro-item" hover-class="hover" :hover-start-time="150" @tap="detail(item.skuId)">
						<image :src="item.imageInfo.imageList[0].url" class="tui-pro-img" mode="widthFix" />
						<view class="tui-pro-content">
							<view class="tui-pro-tit">{{item.skuName}}</view>
							<view>
								<view class="tui-pro-price">
									<text class="tui-sale-price">￥{{item.priceInfo.price}}</text>
<!-- 									<text class="tui-factory-price">￥{{item.priceInfo.price}}</text>
 -->								</view>
								<view class="tui-pro-pay">分享赚￥{{item.commissionInfo.commission/2}}</view>
							</view>
						</view>
					</view>
					<!--商品列表-->
					<!-- <template is="productItem" data="{{item,index:index}}" /> -->
				</block>
			</view>
			<view class="tui-product-container">
				<block v-for="(item,index) in guessList" :key="index" v-if="(index+1)%2!=1">
					<!--商品列表-->
					<view class="tui-pro-item" hover-class="hover" :hover-start-time="150" @tap="detail(item.skuId)">
						<image :src="item.imageInfo.imageList[0].url" class="tui-pro-img" mode="widthFix" />
						<view class="tui-pro-content">
							<view class="tui-pro-tit">{{item.skuName}}</view>
							<view>
								<view class="tui-pro-price">
									<text class="tui-sale-price">￥{{item.priceInfo.price}}</text>
<!-- 									<text class="tui-factory-price">￥{{item.priceInfo.price}}</text>
 -->								</view>
								<view class="tui-pro-pay">分享赚￥{{item.commissionInfo.commission/2}}</view>
							</view>
						</view>
					</view>
					<!--商品列表-->
					<!-- <template is="productItem" data="{{item,index:index}}" /> -->
				</block>
			</view>
		</view>
		
		<!--底部操作栏-->
		<view class="tui-operation">
			<view class="tui-operation-left tui-col-5">
				<view class="tui-operation-item" hover-class="opcity" :hover-stay-time="150">
					<tui-icon name="home" :size="22" ></tui-icon>
					<view class="tui-operation-text tui-scale-small" open-type='contact'>首页</view>
				</view>
				<view class="tui-operation-item" hover-class="opcity" :hover-stay-time="150">
					<tui-icon name="kefu" :size="22" ></tui-icon>
					<view class="tui-operation-text tui-scale-small">客服</view>
				</view>
				
			</view>
			<view class="tui-operation-right tui-right-flex tui-col-7 tui-btnbox-4">
				<view class="tui-flex-1">
					<tui-button type="warning"  size="mini" @click="share">分享海报</tui-button>
				</view>
				<view class="tui-flex-1">
					<tui-button type="danger"  size="mini" @click="addCart">立即购买</tui-button>
				</view>
			</view>
		</view>
		<poster v-if="posterShow" :imgList="qrcodeList"></poster>
		
		<!-- 分享 -->
		<!-- <qrcode 
			ref="qrcode" 
			:contentHeight="580"
			:shareList="shareList"
		></qrcode> -->
	</view>
</template>

<script>
	import Api from '@/common/api';
	import share from '@/components/share';
	import qrcode from '@/components/qrcode';
	import tuiIcon from "@/components/icon/icon"
	import tuiButton from "@/components/button/button"
	
	import tuiDivider from "@/components/divider/divider"
	import poster from '@/components/zywPoster.vue';
	
	export default {
		components: {
			share,
			qrcode,
			tuiDivider,
			tuiIcon,
			tuiButton,
			poster
		},
		data() {
			return {
				loaded: true,
				currentEpd: 1,
				skuid:0,
				imgList:[],
				qrcodeList:[],
				posterShow:false,
				shareList: [],
				details:{},
				guessList:[],
				userinfo:{}
			};
		},
		async onLoad(options){
			this.skuid = options.skuid;
			this.userinfo = uni.getStorageSync("userInfo");
			
			this.getDetail(this.skuid);
			this.detailPromotionList();
			this.loaded = true;
			this.shareList = shareList;

			
		},
		
		methods:{
			imageOnLoad(key,index){
				//this.$set(this.data[index], 'loaded', 'loaded');
			},
			
			/**
			 * 获取详情
			 */
			async getDetail(skuid){
				let params = {
					skuid:skuid
				};
				let data = await Api.apiCall('get', Api.goods.goodsDetail, params);
				if (data) {
					this.details = data.data.info[0];
					this.imgList[0] = this.details.imgUrl;
					this.qrcodeList[0] =this.details.imgUrl;
					this.qrcodeList[1] = this.userinfo.avatar;
					this.qrcodeList[2] = this.userinfo.nickname;
					this.qrcodeList[3] = '京东' + this.details.goodsName;
					
					console.log(this.qrcodeList[1]);
					console.log(this.qrcodeList[2]);
					uni.setNavigationBarTitle({
						title: this.details.goodsName
					})
				}
			},
			/**
			 * 获取推荐
			 */
			async detailPromotionList(){
				let params = {
					// skuid:skuid
				};
				let data = await Api.apiCall('get', Api.goods.detailPromotionList, params);
				if (data) {
					this.guessList = data.data;
					
				}
			},
			async addCart() {
				let params = {
					goods_id:24,
					goods_num:1,
					goods_sku_id:'44_47',
				};
				let data = await Api.apiCall('post', Api.order.addCart, params);
				if (data) {
					console.log(data);
					//this.guessList = data.data;
					
				}
				
			},
			detail: function(skuid) {
				// uni.navigateTo({
				// 	url: '../detail/detail'
				// })
				
				uni.navigateTo({
					url: '../detail/detail?skuid='+skuid
				})
			},
			//分享
			share(){
				this.posterShow = true;
				// this.$refs.qrcode.toggleMask();	
				// this.$refs.qrcode.createCode()
			},
			//收藏
			favorite(){
				this.data.favorite = !this.data.favorite;
			}
		},
		//处理遮罩层物理返回键
		onBackPress(){
			if(this.$refs.qrcode.show){
				this.$refs.qrcode.toggleMask();
				return true;
			}
		}
	}
</script>

<style lang="scss">
	page{
		background: $page-color-base;
	}
   .tui-padding {
		padding: 0 30rpx;
		box-sizing: border-box;
	}
	
	.tui-sale-info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 30rpx;
	}
	
	.tui-size {
		font-size: 24rpx;
		line-height: 24rpx;
	}
	
	.tui-gray {
		color: #999;
	}
	.carousel {
		height: 350px;
		.image-wrapper{
			display: flex;
			justify-content: center;
			align-content: center;
			width: 100%;
			height: 100%;
			overflow: hidden;

			image {
				width: 100%;
				height: 100%;
				opacity: 1;
			}
		}
	}
	.scroll-view-wrapper{
		display:flex;
		align-items:center;
		height: 90upx;
		padding: 20upx 0 20upx 40upx;
		background: #fff;
	}
	.episode-panel {
		white-space: nowrap;
		width: 100%;
		view {
			display: inline-block;
			margin-right: 30upx;
			width: 56upx;
			font-size: $font-lg;
			color: $font-color-base;
			&.current{
				color: #07a7a7;
			}
		}
	}

	.info {
		align-items: center;
		padding: 10upx 40upx;
		background: #fff;

		.title {
			flex: 1;
			display: flex;
			flex-direction: column;
			font-size: 30upx;
			color: $font-color-dark;
		} 
		.yticon {
			font-size: 44upx;
			color: $font-color-base;
			margin: 0 10upx 0 30upx;
		}
	}

	.actions {
		padding: 10upx 28upx;
		background: #fff;

		.yticon {
			font-size: 46upx;
			color: $font-color-base;
			padding: 10upx 12upx;
			&.active{
				color: #ff4443;
			}
			&:nth-child(2) {
				font-size: 50upx;
			}
		}
	}

	.section-tit {
		font-size: $font-base+2upx;
		color: $font-color-dark;
		margin-bottom: 30upx;
		text-align:center;
	}

	.guess {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 30upx 40upx 10upx;
		margin-top: 16upx;
		background: #fff;
	}

	.guess-list {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
	.guess-item {
		display: flex;
		flex-direction: column;
		flex: 1;
		overflow: hidden;
		min-width: 40%;
		margin-right: 26upx;
		padding-bottom: 40upx;
	
		&:nth-child(2n) {
			margin-right: 0;
		}
	
		image {
			width: 100%;
			height: 200upx;
			border-radius: 10upx;
			opacity: 1;
		}
	
		text {
			font-size: $font-sm;
			color: $font-color-light;
			&.Skeleton{
				width: 180upx;
				&.title{
					width: 140upx;
				}
			}
			&.title{
				font-size: $font-base+2upx;
				color: $font-color-dark;
				margin-top:16upx;
				margin-bottom: 8upx;
			}
		}
	}
/*为你推荐*/
	.tui-product-list {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		box-sizing: border-box;
		padding: 20rpx;

	}

	.tui-product-container {
		flex: 1;
		margin-right: 2%;
	}

	.tui-product-container:last-child {
		margin-right: 0;
	}

	.tui-pro-item {
		width: 100%;
		margin-bottom: 4%;
		background: #fff;
		box-sizing: border-box;
		border-radius: 12rpx;
		overflow: hidden;
	}

	.tui-pro-img {
		width: 100%;
		display: block;
	}

	.tui-pro-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-sizing: border-box;
		padding: 20rpx;
	}

	.tui-pro-tit {
		color: #2e2e2e;
		font-size: 26rpx;
		word-break: break-all;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}

	.tui-pro-price {
		padding-top: 18rpx;
	}

	.tui-sale-price {
		font-size: 34rpx;
		font-weight: 500;
		color: #e41f19;
	}

	.tui-factory-price {
		font-size: 24rpx;
		color: #a0a0a0;
		text-decoration: line-through;
		padding-left: 12rpx;
	}

	.tui-pro-pay {
		font-size: 24rpx;
		color: #e41f19;
		border: 1px solid #E41F19;
		border-radius: 10rpx;
		line-height: 40rpx;
		height: 40rpx;
		padding-left: 20rpx;
		text-align: center;

	}
	
	
	/*底部操作栏*/
	
	.tui-col-7 {
		width: 58.33333333%;
	}
	
	.tui-col-5 {
		width: 41.66666667%;
	}
	
	.tui-operation {
		width: 100%;
		height: 100rpx;
		/* box-sizing: border-box; */
		background: rgba(255, 255, 255, 0.98);
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 10;
		bottom: 0;
		left: 0;
		padding-bottom: env(safe-area-inset-bottom);
	}
	
	.tui-safearea-bottom {
		width: 100%;
		height: env(safe-area-inset-bottom);
	}
	
	.tui-operation::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		border-top: 1rpx solid #eaeef1;
		-webkit-transform: scaleY(0.5);
		transform: scaleY(0.5);
	}
	
	.tui-operation-left {
		display: flex;
		align-items: center;
	}
	
	.tui-operation-item {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: relative;
	}
	
	.tui-operation-text {
		font-size: 25rpx;
		color: #2e2e2e;

	}
	
	.tui-opacity {
		opacity: 0.5;
	}
	
	.tui-scale-small {
		transform: scale(0.9);
		transform-origin: center center;
	}
	
	.tui-operation-right {
		height: 100rpx;
		/* box-sizing: border-box; */
		padding-top: 0;
	}
	
	.tui-right-flex {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.tui-btnbox-4 .tui-btn-class {
		width: 90% !important;
		display: block !important;
		font-size: 28rpx !important;
	}
	
	.tui-operation .tui-badge-class {
		position: absolute;
		top: -6rpx;
		/* #ifdef H5 */
		transform: translateX(50%)
			/* #endif  */
	}
	
	.tui-flex-1 {
		flex: 1;
	}
	
	/*底部操作栏*/
</style>
