<template>
	<view>
		<view class="header" v-bind:class="{'status':isH5Plus}">
			<view class="userinfo">
				<view class="face"><image :src="userInfo.avatar"></image></view>
				<view class="info">
					<view class="username">{{userInfo.nickname}}</view>
					<view class="integral">实习导购员</view>
				</view>
			</view>
<!-- 			<view class="setting"><image src="../../static/HM-PersonalCenter/setting.png"></image></view>
 -->		</view>
		<view class="orders">
			<view class="box">
				<view class="label" v-for="(row,index) in orderTypeLise" :key="index" hover-class="hover"  @click="navTo('/pages/order/order?state='+index)">
					<view class="icon"><view class="badge" v-if="row.badge>0">{{row.badge}}</view><image :src="'../../static/HM-PersonalCenter/'+row.icon"></image></view>
					{{row.name}}
				</view>
			</view>
		</view> 
		<view class="list">
			
			<list-cell icon="icon-dizhi" iconColor="#5fcda2" title="地址管理" @eventClick="navTo('/pages/address/address')"></list-cell>
			<list-cell icon="icon-shop" iconColor="#9789f7" title="我的优店" @eventClick="navTo('/pages/stores/index')" tips="优店精选"></list-cell>
			
			<list-cell icon="icon-share" iconColor="#9789f7" title="分享" tips="邀请好友赢10万大礼"></list-cell>
			<list-cell icon="icon-pinglun-copy" iconColor="#ee883b" title="晒单" tips="晒单抢红包"></list-cell>
			<list-cell icon="icon-shoucang_xuanzhongzhuangtai" iconColor="#54b4ef" title="我的收藏"></list-cell>
			<list-cell icon="icon-shezhi1" iconColor="#e07472" title="设置" border="" @eventClick="navTo('/pages/set/set')"></list-cell>
		</view>
	</view>
</template>
<script>
	import listCell from '@/components/mix-list-cell';
	import {
		mapState
	} from 'vuex';
	export default {
		components: {
			listCell
		},
		data() {
			return {
				userinfo:{},
				orderTypeLise:[
					{name:'全部订单',icon:'l5.png',badge:0},
					{name:'待付款',icon:'l1.png',badge:0},
					{name:'待发货',icon:'l2.png',badge:0},
					{name:'待收货',icon:'l3.png',badge:0},
					{name:'待评价',icon:'l4.png',badge:0}
				],
				
			};
		},
		
		
		onShow() {
			if (this.hasLogin) {
				this.init();
			}else{
				uni.reLaunch({
					url: '../public/login'
				})
			}
		},
		onLoad() {
			//加载
		},
		computed: {
			...mapState(['hasLogin', 'userInfo'])
		},
		methods: {
			init() {
			},
			
			navTo(url){
				uni.navigateTo({
					url: url
				});
			},
		}
	}
</script>

<style lang="scss">
page{background-color:#fff}
.header{
	background-color:#ff6364;width:100%;height:auto;padding:180rpx 4% 30rpx 4%;display:flex;align-items:center;
	.userinfo{
		width:100%;display:flex;
		.face{flex-shrink:0;width:15vw;height:15vw;
			image{width:100%;height:100%;border-radius:100%}
		}
		.info{
			display:flex;flex-flow:wrap;padding-left:30upx;
			.username{width:100%;color:#fff;font-size:40upx}
			.integral{display:flex;align-items:center;padding:0 20upx;height:40upx;color:#fff;background-color:rgba(0,0,0,0.1);border-radius:20upx;font-size:24upx}
		}
	}
	.setting{
		flex-shrink:0;width:6vw;height:6vw;
		image{width:100%;height:100%}
	}
}
.hover{background-color:#eee}
.orders{
	background-color:#ff6364;width:100%;height:11vw;padding:0 4%;margin-bottom:calc(11vw + 40upx);display:flex;align-items:flex-start;border-radius:0 0 100% 100%;margin-top: -1upx;
	.box{
		width:98%;padding:0 1%;height:22vw;background-color:#fefefe;border-radius:24upx;box-shadow:0 0 20upx rgba(0,0,0,0.15);margin-bottom:40upx;display:flex;align-items:center;justify-content:center;
		.label{
			display:flex;align-items:center;justify-content:center;flex-flow:wrap;width:100%;height:16vw;color:#666666;font-size:26upx;
			.icon{
				position:relative;width:7vw;height:7vw;margin:0 1vw;
				.badge{position:absolute;width:4vw;height:4vw;background-color:#ec6d2c;top:-1vw;right:-1vw;border-radius:100%;font-size:20upx;color:#fff;display:flex;align-items:center;justify-content:center;z-index: 10;}
				image{width:7vw;height:7vw;z-index: 9;}
			}
		}
	}
}
.list{
	width:100%;border-bottom:solid 2upx #f1f1f1;
	.li{
		width:92%;height:100upx;padding:0 4%;border-bottom:solid 1upx #e7e7e7;display:flex;align-items:center;
	&.noborder{border-bottom:0}
		.icon{
			flex-shrink:0;width:50upx;height:50upx;
			image{width:50upx;height:50upx}
		}
		.text{padding-left:20upx;width:100%;color:#666}
		.to{flex-shrink:0;width:40upx;height:40upx}
	}
}
</style>
