<template>
	<view class="content" >
		<view class="row b-b">
			<text class="tit">联系人</text>
			<input class="input" type="text" v-model="addressData.realname" @blur="handleRealNameChange" placeholder="收货人姓名" placeholder-class="placeholder" />
		</view>
		<view class="row b-b">
			<text class="tit">手机号</text>
			<input class="input" type="number" v-model="addressData.mobile" @blur="handleMobileChange" placeholder="收货人手机号码" placeholder-class="placeholder" />
		</view>
		<view class="row b-b" @tap="openAddres()">
			<text class="tit">选择地址</text>
			<input v-model="pickerText" cols="30" rows="10"></input>
		</view>
		<view class="row b-b">
			<text class="tit">详细地址</text>
			<input class="input" type="text" v-model="addressData.address_details" @blur="bindAddressDetailsChange" placeholder="请输入详细地址" placeholder-class="placeholder" />
		</view>
		<view class="row default-row">
			<text class="tit">设为默认</text>
			<switch :checked="addressData.is_default ? true : false" color="#fa436a" @change="switchChange" />
		</view>
		<button class="add-btn" @tap="confirm">提交</button>
		
		<simple-address ref="simpleAddress" :pickerValueDefault="cityPickerValueDefault" @onConfirm="onConfirm" themeColor="#007AFF"></simple-address>

	</view>
</template>

<script>
	/**
	 * @des 收货地址列表
	 *
	 * @author stav stavyan@qq.com
	 * @date 2020-03-10 18:00
	 * @copyright 2019
	 */
	import simpleAddress from '@/components/simple-address/simple-address.nvue';
    import Api from '@/common/api';
     
	export default {
		data() {
			return {
				addressData: {
					realname: '',
					mobile: '',
					address_details: '',
					address_name: '请选择地址',
					address: '',
					is_default: false,
					province_id: '',
					city_id: '',
					area_id: ''
				},
				multiArray: [[], [], []],
				multiIndex: [0, 0, 0],
				cityPickerValueDefault: [0, 0, 1],
				pickerText: ''
		}
		},
		components: {
		        simpleAddress
		    },
		onLoad(options){
			this.initData(options);
		},
		methods: {
			 openAddres() {
			            this.cityPickerValueDefault = [0,0,1]
			            this.$refs.simpleAddress.open();
			        },
			        openAddres2() {
			            // 根据 label 获取
			            var index = this.$refs.simpleAddress.queryIndex(['湖北省', '随州市', '曾都区'], 'label');
			            console.log(index);
			            this.cityPickerValueDefault = index.index;
			            this.$refs.simpleAddress.open();
			        },
			        openAddres3() {
			            // 根据value 获取
			            var index = this.$refs.simpleAddress.queryIndex([13, 1302, 130203], 'value');
			            console.log(index);
			            this.cityPickerValueDefault = index.index;
			            this.$refs.simpleAddress.open();
			        },
			        onConfirm(e) {
			            //this.pickerText = JSON.stringify(e);
						this.pickerText = JSON.stringify(e.label)
						this.pickerText = this.pickerText.replace(/\"/g,"")
						//console.log(this.pickerText);
						console.log(JSON.stringify(e));//"cityCode":"1101","areaCode":"110102","provinceCode":"11",
						this.addressData.province_id = e.provinceCode;
						this.addressData.city_id = e.cityCode;
						this.addressData.region_id = e.areaCode;
			        },
	    // 数据初始化
			async initData(options) {
				let title = '新增收货地址';
				if(options.type==='edit'){
					title = '编辑收货地址'
					await this.getAddressDetail(options.id)
				}
				this.manageType = options.type;
				uni.setNavigationBarTitle({
					title
				});
			},
	    // 获取收货地址
			async getAddressDetail(id) {
				//uni.showLoading({title:'加载中...'});
				await this.$get(`${addressDetail}`, {
					id
				}).then(async r => {
					this.addressData = r.data;
				}).catch(err => {
					console.log(err)
				})
			},
			
			
			handleRealNameChange (e) {
				this.addressData.realname = e.detail.value;
			},
			bindAddressDetailsChange (e) {
				this.addressData.address_details = e.detail.value;
			},
			handleMobileChange (e) {
				this.addressData.mobile = e.detail.value;
			},
			switchChange(e){
				this.addressData.is_default = e.detail.value;
			},
			
			//提交
			async confirm(){
				let data = this.addressData;
				if(!data.realname){
					this.$api.msg('请填写收货人姓名');
					return;
				}
				if(!/(^1[3|4|5|7|8][0-9]{9}$)/.test(data.mobile)){
					this.$api.msg('请输入正确的手机号码');
					return;
				}
				// if(!data.address){
				// 	this.$api.msg('请在地图选择所在位置');
				// 	return;
				// }
				if (this.manageType === 'edit') {
					this.handleAddressUpdate(data)
				} else {
					this.handleAddressCreate(data)
				}
				
				
			
			},
			async handleAddressUpdate (data) {
				uni.showLoading({title:'收货地址修改中...'});
				await this.$put(`${addressUpdate}?id=${data.id}`, {
					realname: data.realname,
					mobile: data.mobile,
					address_details: data.address_details,
					is_default: data.is_default ? 1 : 0,
					province_id: data.province_id,
					city_id: data.city_id,
					area_id: data.area_id
				}).then(r=>{
						this.$api.msg('恭喜您, 收货地址修改成功！');
						uni.navigateBack();
				}).catch(err => {
					console.log(err)
				})
			},
			async handleAddressCreate (data) {
				uni.showLoading({title:'创建中...'});
				
				console.log(data);
				let params = {
					name: data.realname,
					phone: data.mobile,
					detail: data.address_details,
					isdefault: data.is_default ? 1 : 0,
					region:this.pickerText,
					// province_id: data.province_id,
					// city_id: data.city_id,
					// region_id: data.area_id
				};
				let res = await Api.apiCall('post', Api.goods.addressAdd, params);
				if (res) {
					uni.hideLoading();
					this.$api.msg('恭喜您, 收货地址修改成功！');
					uni.navigateBack();
					
				};
				
			},
		}
	}
</script>

<style lang="scss">
	page{
		background: $page-color-base;
		padding-top: 16upx;
	}

	.row{
		display: flex;
		align-items: center;
		position: relative;
		padding:0 30upx;
		height: 110upx;
		background: #fff;

		.tit{
			flex-shrink: 0;
			width: 140upx;
			font-size: 30upx;
			color: $font-color-dark;
		}
		.input{
			flex: 1;
			font-size: 30upx;
			color: $font-color-dark;
		}
		.iconfont {
			font-size: 36upx;
			color: $font-color-light;
		}
	}
	.default-row{
		margin-top: 16upx;
		.tit{
			flex: 1;
		}
		switch{
			transform: translateX(16upx) scale(.9);
		}
	}
	.add-btn{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 690upx;
		height: 80upx;
		margin: 60upx auto;
		font-size: $font-lg;
		color: #fff;
		background-color: $base-color;
		border-radius: 10upx;
		box-shadow: 1px 2px 5px rgba(219, 63, 96, 0.4);
	}
</style>
