<template>
	<view class="content">
		<view class="header" v-bind:class="{'status':isH5Plus}">
					<view class="userinfo">
						<view class="face"><image :src="userInfo.avatar"></image></view>
						<view class="info">
							<view class="username">{{userInfo.nickname}}</view>
							<view class="integral">我的优品精选</view>
						</view>
					</view>
		<!-- 			<view class="setting"><image src="../../static/HM-PersonalCenter/setting.png"></image></view>
		 -->		
		</view>		
		<view class="orders"></view>
		<view class="goods-list">
			<view 
				v-for="(item, index) in goodsList" :key="index"
				class="goods-item"
				@click="navToDetailPage(item)">
				<view class="image-wrapper">
					<image :src="item.detail.image" mode="aspectFill"></image>
				</view>
				<text class="title clamp">{{item.detail.goods_name}}</text>
				<view class="price-box">
					<text class="price">{{item.detail.spec[0].goods_price}}</text>
					<text>已售 {{item.detail.goods_sales}}</text>
				</view>
			</view>
		</view>
		<uni-load-more :status="loadingType"></uni-load-more>
		
		
		
	</view>
</template>

<script>
	import Api from '@/common/api';
	import uniLoadMore from '@/components/uni-load-more/uni-load-more.vue';
	import {
		mapState
	} from 'vuex';
	export default {
		components: {
			uniLoadMore	
		},
		data() {
			return {
				cateMaskState: 0, //分类面板展开状态
				headerPosition:"fixed",
				headerTop:"0px",
				loadingType: 'more', //加载更多状态
				filterIndex: 0, 
				priceOrder: 0, //1 价格从低到高 2价格从高到低
				goodsList: []
			};
		},
		computed: {
			...mapState(['hasLogin', 'userInfo'])
		},
		onLoad(options){
			
			this.loadData();
		},
		onPageScroll(e){
			//兼容iOS端下拉时顶部漂移
			if(e.scrollTop>=0){
				this.headerPosition = "fixed";
			}else{
				this.headerPosition = "absolute";
			}
		},
		//下拉刷新
		onPullDownRefresh(){
			this.loadData('refresh');
		},
		//加载更多
		onReachBottom(){
			this.loadData();
		},
		methods: {		
			//加载商品 ，带下拉刷新和上滑加载
			async loadData(type='add', loading) {
				let params = {};
				let data = await Api.apiCall('get', Api.goods.goodsStores, params);
				if (data) {
					this.goodsList = data.data;
					
				}
				
			},
			//筛选点击
			tabClick(index){
				if(this.filterIndex === index && index !== 2){
					return;
				}
				this.filterIndex = index;
				if(index === 2){
					this.priceOrder = this.priceOrder === 1 ? 2: 1;
				}else{
					this.priceOrder = 0;
				}
				uni.pageScrollTo({
					duration: 300,
					scrollTop: 0
				})
				this.loadData('refresh', 1);
				uni.showLoading({
					title: '正在加载'
				})
			},
			//显示分类面板
			toggleCateMask(type){
				let timer = type === 'show' ? 10 : 300;
				let	state = type === 'show' ? 1 : 0;
				this.cateMaskState = 2;
				setTimeout(()=>{
					this.cateMaskState = state;
				}, timer)
			},
			//分类点击
			changeCate(item){
				this.cateId = item.id;
				this.toggleCateMask();
				uni.pageScrollTo({
					duration: 300,
					scrollTop: 0
				})
				this.loadData('refresh', 1);
				uni.showLoading({
					title: '正在加载'
				})
			},
			//详情
			navToDetailPage(item){
				//测试数据没有写id，用title代替
				let goods_id = item.goods_id;
				uni.navigateTo({
					url: `/pages/product/product?goods_id=${goods_id}`
				})
			},
			stopPrevent(){}
		},
	}
</script>

<style lang="scss">
	page, .content{
		background: $page-color-base;
	}
	
.header{
	background-color:#ff6364;width:100%;height:auto;padding:50rpx 4% 30rpx 4%;display:flex;align-items:center;
	.userinfo{
		width:100%;display:flex;
		.face{flex-shrink:0;width:15vw;height:15vw;
			image{width:100%;height:100%;border-radius:100%}
		}
		.info{
			display:flex;flex-flow:wrap;padding-left:30upx;
			.username{width:100%;color:#fff;font-size:40upx}
			.integral{display:flex;align-items:center;padding:0 20upx;height:40upx;color:#fff;background-color:rgba(0,0,0,0.1);border-radius:20upx;font-size:24upx}
		}
	}
	.setting{
		flex-shrink:0;width:6vw;height:6vw;
		image{width:100%;height:100%}
	}
}
.hover{background-color:#eee}
.orders{
	background-color:#ff6364;width:100%;height:21vw;padding:0 4%;margin-bottom:-150upx;display:flex;align-items:flex-start;border-radius:0 0 100% 100%;
	
}
	/* 商品列表 */
	.goods-list{
		display: flex;
		flex-wrap: wrap;
		margin: 18rpx;
		background-color: #fefefe;
		border-radius: 25rpx;
		box-shadow: 0 0 20rpx rgba(0, 0, 0, 0.15);
		margin-bottom: 40rpx;
		padding: 20rpx;

		.goods-item{
			display:flex;
			flex-direction: column;
			width: 48%;
			padding-bottom: 40upx;
			&:nth-child(2n+1){
				margin-right: 4%;
			}
		}
		.image-wrapper{
			width: 100%;
			height: 330upx;
			border-radius: 3px;
			overflow: hidden;
			image{
				width: 100%;
				height: 100%;
				opacity: 1;
			}
		}
		.title{
			font-size: $font-lg;
			color: $font-color-dark;
			line-height: 80upx;
		}
		.price-box{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-right: 10upx;
			font-size: 24upx;
			color: $font-color-light;
		}
		.price{
			font-size: $font-lg;
			color: $uni-color-primary;
			line-height: 1;
			&:before{
				content: '￥';
				font-size: 26upx;
			}
		}
	}
	

</style>
